*{
   
   font-family: 'Times New Roman', Times, serif;
   color: black;
   margin: 0;
    padding: 0;
}
header{
    background-color: skyblue;
   width: 100%;
}
.brand{
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px 0px 0px 80px;
    display: inline-block;
}
.navbar ul {
    margin-left: auto;
    padding: 0px 50px 0px 50px;
    display: flex;
    list-style: none;  
    justify-content: flex-end;
    color: black;
    gap: 50px;
    text-decoration: none;
}
.nav li a {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.info-box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
   
   
}
.info-box div {
    width: 250px;
    height: 250px;
    margin: 30px; 
    margin-bottom: 70px; 
}
.info-box div:hover {
    
 width: 265px;
    height: 265px;
    margin: 30px; 
    margin-bottom: 70px; 
    box-sizing: border-box;
}
.box-img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.box-img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.name{

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 15px;
    margin-bottom: 30px;
}
.name :hover{
   font-size: 23px;
    font-weight: 800;
    color: rgb(252, 156, 38);
    text-decoration: none;
}
footer {
    background-color: skyblue;
    
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 300px;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  border-bottom: 2px solid #070707;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #0a0a0a;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fdfcfb;
}

.social-links a {
  margin-right: 15px;
  color: #0b0b0b;
  text-decoration: none;
  font-size: 14px;
}

.social-links a:hover {
  color: #fcf9f7;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #444;
  margin-top: 20px;
  font-size: 14px;
}


